[user]
	name = Philipp Hanslovsky
	email = hanslovskyp@janelia.hhmi.org
[color]
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
   l = log --graph --all --format=format:'%C(cyan)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold red bold)%d%C(reset)' --abbrev-commit --date=relative
   d = difftool --tool=ec --no-prompt
   s = status -s
   c = commit -am
   r = checkout
[core]
	excludesfile = ~/.gitignore
	
[push]
	default = upstream
