[Desktop Entry]
Name=ec
Exec=emacsclient -c -n %F
Type=Application
Terminal=false
Icon=/usr/share/icons/hicolor/scalable/apps/emacs.svg
GenericName=Text Editor
Comment=View and edit files
Categories=Utility;Development;TextEditor;
StartupWMClass=Emacs